<style>

#Full{
    text-align: center;
    color: rgb(17, 16, 16);    
    }
#abc{
    color: brown;
    background-color: lightcyan;
    border: 10px solid lightslategrey;
    border-radius: 10px;
    padding: 5%;
    }

</style>
